.bost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
.card{
    margin-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.card-img-top{
    aspect-ratio: 3/2;
}