.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#h2{
    position: relative;
    top: 7px;
}
.viewPage{
    text-align: center;
}
.ngx-pie .chart-wrapper path:hover {
    cursor: pointer;
    transform-origin: center;
    transform: scale(1.05);
}
::ng-deep .legend-items{
    padding-top: 3%;
    overflow: hidden;
}
::ng-deep .total-value{
    margin-bottom: 2%;
}
::ng-deep .item-value{
    margin-bottom: 5px;
}