<nav class="nav" *ngIf="show">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQItEZqYrF2jOoRe9RySqykHndE2xpGDwaIsA&usqp=CAU" alt="logo">
      <h1><a routerLink="/dashboards">Apna Market</a> </h1>
      <!-- <div class="nav-search">
        <input type="text" placeholder="Search Products" />
        <button class="btnsearch" ><i class="fa-brands fa-searchengin"></i></button>
      </div> -->
      <ul>
        <li id="avtar" class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle"id="userDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-profile rounded-circle"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="userDropdown">
              <a class="dropdown-item" >
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
              </a>
              <a class="dropdown-item">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
              </a>
              <a class="dropdown-item">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
              </a>
          </div>
      </li>
    </ul>
    </nav>
    
  
  
  
  
    