<nav class="nav">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQItEZqYrF2jOoRe9RySqykHndE2xpGDwaIsA&usqp=CAU" alt="logo">
      <h1><a routerLink="/dashboards">Apna Market</a> </h1>
      <div class="nav-search">
        <input type="text" placeholder="Search Products" />
        <button class="btnsearch" ><i class="fa-brands fa-searchengin"></i></button>
      </div>
      <ul>
        <li><a routerLink="/users">users</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a (click)="userLogout()">Logout</a></li>
    </ul>
    </nav>
    
  
  
  
  
    