<div class="user-auth">
    <div class="myDiv">
       <h1>User Login</h1>
       <form [formGroup]="userLogin" class="common-form">
         <p class="error-p"></p>
         <input
           type="text"
           class="form-input"
           name="email"
           placeholder="Enter User Email"
          [(ngModel)]="email"
          required
         />
         <input
         type="password"
         class="form-input"
         name="password"
         placeholder="Enter User Password"
         [(ngModel)]="password"
         required
       />
       <br>
       <br>
       <button  color="primary" class="btn btn-success" (click)="login(email , password)">Login</button>
       
       <br>
       <br>
       <p>Want to Create Account ? <a href="/register">Click Here</a></p>
       <p><a href="/forgot-password">Forgot Password</a></p>
       </form>
      </div> 
      </div>