.form-control{
    text-align: center;
}

#btnuser{
    position: absolute;
    bottom: 0px;
    right: 1%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#h2{
    position: relative;
    top: 7px;
}