<div class="containers">
    <div id="cards" class="card shadow border-0 mb-7">
        <h2 class="text-danger text-center d-inline">Add Users</h2>
        <div class=" col-12 text-sm-end">
            <div id="btnuser" class="mx-n1">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser" type="submit"><i
                        class="bi bi-plus"></i>Add User</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">City</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of user">
                    <td>
                        <a class="text-heading font-semibold" href="#">
                            {{user.name}}
                        </a>
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        <a class="text-heading font-semibold" href="#">
                           {{user.contact}}
                        </a>
                    </td>
                    <td>
                        {{user.city}}
                    </td>
                    <td class="text-end d-flex justify-content-around">
                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover"
                            data-bs-toggle="modal" data-bs-target="#editUser" (click)="editUser(user)">
                            <a class="btn btn-sm btn-neutral"><i class="bi bi-pencil-square"></i></a>
                        </button>


                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover" (click)="delete(user)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
            </tbody>
        </table>
    </div>
    



    <!-- Add employee modal -->
    <div class="modal fade overflow-hiddens" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add new User</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="userDetail">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name </label>
                            <input type="text" formControlName="name" class="form-control" id="name"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Contact </label>
                            <input type="number" formControlName="contact" class="form-control" id="contact"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">City</label>
                            <input type="text" formControlName="city" class="form-control" id="city"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUsers()">Add User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Edit employee modal -->
    <div class="modal fade overflow-hiddens" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Update user</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="userDetail">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name </label>
                            <input type="text" formControlName="name" class="form-control" id="name"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Contact </label>
                            <input type="number" formControlName="contact" class="form-control" id="contact"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">City</label>
                            <input type="text" formControlName="city" class="form-control" id="city"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="update(myUsers)">Update User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>